.game_cont{
  margin:50px;
}
.status{
  margin-bottom:10px;
}
.board_cont{
  margin:0 auto;
}
.board-row{
  overflow:hidden;
}
.board-row:first-child .square{margin-top:0;}
.square{
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}